---
layout: default
title: Home
---

<h1>Meet the Baker</h1>
<p>Baker is an opinionated MVP toolkit that helps you build mobile apps crazy fast. It is based on React Native and Parse Server and bundles a whole lot of goodies inside a delicious package that will help you type less and do more. 
</p>


<div class="logotron">
  <div><img src="{{site.baseurl}}/public/images/react-native.png"></div>
  <div><img src="{{site.baseurl}}/public/images/parse-server.png"></div>
  <div><img src="{{site.baseurl}}/public/images/yeoman.png"></div>
  <div><img src="{{site.baseurl}}/public/images/graphql.png"></div>
  <div><img src="{{site.baseurl}}/public/images/redux.png"></div>
  <div><img src="{{site.baseurl}}/public/images/mocha.png"></div>
  <div><img src="{{site.baseurl}}/public/images/bitrise.svg"></div>
  <div><img src="{{site.baseurl}}/public/images/heroku.png"></div>
  <div><img src="{{site.baseurl}}/public/images/fastlane.png"></div>
</div>

<h2>Key Features</h2>

<ul>
  <li>Type less do more</li>
  <li>All tools come pre-configured</li>
  <li>100% hackability - update Baker to suit your needs</li>
  <li>Solid foundation in case your MVP turns into P (product)</li>
</ul>


<h2>What is included</h2>

<ul>
  <li>Fully bootstrapped React Native application featuring
    <ul>
      <li>Redux</li>
      <li>Component tests using Mocha + Enzyme</li>
      <li>Redux Sagas for data fetching and various async tasks</li>
      <li>Parse SDK + GraphQL client for Parse Server</li>
    </ul>
  </li>
  <li>Application server with
    <ul>
      <li>Parse Server and Dashboard</li>
      <li>GraphQL for Parse</li>
      <li>Tests using Mocha</li>
    </ul>
  </li>
  <li>Code generators for
    <ul>
      <li>Components and Containers</li>
      <li>Sagas</li>
      <li>Data models</li>
    </ul>
  </li>
  <li>Easy deployments with
    <ul>
      <li>Fastlane for your mobile app</li>
      <li>Heroku for the application server</li>
      <li>Pretty awesome CI for iOS on Bitrise </li>
    </ul>
  </li>
  <li>Fully hackable internals with Yeoman based generators</li>
</ul>

{% include social_buttons.html %}

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
 -->
