.logotron {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  div {
    padding: 10px 0;
    flex: 1;
    text-align: center;
  }

  img {
    display: inline-block;
    height: 150px;
    max-width: none;
    margin: 0;
  }
}