table.logotron {
  border: none;

  td {
    background-color: transparent !important;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 10px 0;
  }

  img {
    display: inline-block;
    height: 150px;
    max-width: none;
    margin: 0;
  }
}